/* Fonts */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}
/* General styles */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color: #283136;
}
img {
  max-width: 100%;
  height: auto;
}
/* container */
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
/* SITE-HEADER */
.site-header {
  background-color: #ebebeb;
}
/* SITENAV */
.sitenav {
  padding-top: 50px;
  padding-bottom: 20px;
}
.sitenav__container {
  display: flex;
  align-items: center;
}
.sitenav__logo {
  flex-shrink: 0;
  margin-right: 200px;
}
/* Logo */
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.3;
}
.logo__img {
  display: block;
}
/* Sitenav menu */
.sitenav__menu {
  margin-right: auto;
}
.sitenav__menu-toggler {
  display: none;
}
.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sitenav__item {
  position: relative;
  z-index: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sitenav__item--active::after {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-color: #fb565a;
  content: "";
}
.sitenav__item:not(:first-child) {
  margin-left: 48px;
}
.sitenav__link {
  display: block;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
.sitenav__link:hover {
  color: #fb565a;
}
.sitenav__link:active {
  color: rgba(0, 0, 0, 0.3);
}
/* Shopping cart link */
.sitenav__shopping-cart-link {
  margin-left: 50px;
}
.shopping-cart-link {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
.shopping-cart-link--active::before {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-color: #fb565a;
  content: "";
}
.shopping-cart-link:hover {
  color: #fb565a;
}
.shopping-cart-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.shopping-cart-link__text {
  margin-left: 25px;
}
/* Media queries */
@media only screen and (max-width: 1050px) {
  .sitenav__container {
    justify-content: space-between;
  }
  .sitenav__logo {
    margin-right: 50px;
  }
  .sitenav__menu {
    margin-right: 0;
  }
}
@media only screen and (max-width: 880px) {
  .sitenav {
    padding-top: 20px;
  }
  .logo__img {
    height: 50px;
    width: auto;
  }
  .sitenav__menu {
    position: relative;
    z-index: 2;
    order: 1;
    margin-left: 40px;
  }
  .sitenav__menu-toggler {
    display: block;
    padding: 10px 20px;
    border: 2px solid #000;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }
  .sitenav__menu-toggler:hover {
    border-color: #fb565a;
    color: #fb565a;
  }
  .sitenav__menu-toggler:active {
    border-color: #000;
    color: #000;
    opacity: 0.3;
  }
  .sitenav__list {
    display: none;
  }
  .sitenav__list--open {
    display: block;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    padding: 20px;
    background-color: #fff;
    text-align: right;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.1);
  }
  .sitenav__item:not(:first-child) {
    margin-left: 0;
  }
  .sitenav__item--active::after {
    display: none;
  }
  .sitenav__item--active .sitenav__link {
    color: #fb565a;
  }
  .sitenav__item--active .sitenav__link:active {
    color: #000;
    opacity: 0.3;
  }
  .sitenav__shopping-cart-link {
    margin-left: auto;
  }
}
@media only screen and (max-width: 550px) {
  .sitenav__menu {
    margin-left: 20px;
  }
  .sitenav__list {
    position: fixed;
    top: 90px;
    left: 0;    
    width: 100%;
  }
  .shopping-cart-link {
    flex-shrink: 0;
  }
  .shopping-cart-link__icon {
    width: 25px;
    height: 25px;
  }
  .shopping-cart-link__text {
    display: none;
  }
}
